.main-container {
    -fx-background-color: #0F172A;
}

.header-pane {
    -fx-background-color: #1E293B;
    -fx-border-color: #38BDF8;
    -fx-border-width: 0 0 2 0;
}

.title-label {
    -fx-text-fill: #38BDF8;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-font-size: 56.0px;
}

.subtitle-label {
    -fx-text-fill: #94A3B8;
    -fx-font-family: "System";
    -fx-font-style: italic;
    -fx-font-size: 18.0px;
}

.main-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-control-inner-background: #0F172A;
}

.main-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.algo-button {
    -fx-background-color: #1E293B;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.algo-button:hover {
    -fx-background-color: #334155;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 15, 0.5, 0, 0);
}

#sorting-btn {
    -fx-border-color: #38BDF8;
}

#linear-btn {
    -fx-border-color: #818CF8;
}

#tree-btn {
    -fx-border-color: #34D399;
}

#graph-btn {
    -fx-border-color: #F472B6;
}

#mst-btn {
    -fx-border-color: #FB923C;
}

#dp-btn {
    -fx-border-color: #A78BFA;
}