.algo-button {
    -fx-background-color: #1E293B;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
}

.algo-button:hover {
    -fx-background-color: #334155;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 15, 0.5, 0, 0);
}